
body {
  background-color: #EFEFEF;
}

p {
  font-size: 20px;
  font-family: 'Gau_Exposition_W';
  color: #8B5D33;
  text-align: center;
}

@font-face {
    font-family: 'Gau_Exposition_W'; 
        src: url('Gau_Exposition_W.TTF'); 
}